<div class="col-md-4 col-md-offset-4">
  <h2>编辑电影主题</h2>
  <hr>
  <%= form_for @film do |f| %>

  电影标题
  <%= f.text_field :title %>
  <br>
  电影叙述
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit"submiting", :disable_with => 'Submiting...' %>
  <% end %>

</div>
